{:require [tully-cljs.devcards
           tully-cljs.views
           tully-cljs.subs
           tully-cljs.db
           tully-cljs.events]
 :init-fns [tully-cljs.devcards/main]
 :compiler-options {:asset-path "js/devcards.out" :devcards true}
}
