{:require [tully-cljs.core
           tully-cljs.chsk
           tully-cljs.views
           tully-cljs.subs
           tully-cljs.db
           tully-cljs.events           ]
 :init-fns [tully-cljs.core/main]
 :compiler-options {:asset-path "js/main.out"}
 }
