.editing {
    color: #550000;
}

.editing.view {
    font-style: italic;
    display: none;
}

div.groupheader {
    font-size: 150%;
    background-color: #CCCCCC;
}

div.columnheader {
    background-color: #CCCCCC;
}